<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quimica | Members</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="./team.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" sizes="32x32" href="../../images/Quimica_icon (1) black.png">
</head>
<body>

  <div id="preloader"></div>
    
    <section class="firstpart">
        <div class="main-nav-parent">
            <nav>
                <div class="logo">
                  <a href="../../index.html"><img src="../../images/Quimica_icon (1) black.png" alt="Quimica Logo"></a>
                  <!-- <a href="index.html"><span>Q</span>UIMICA</a> -->
                </div>
                
                <input type="checkbox" id="click">
                <label for="click" class="menu-btn">
                  <i class="fa fa-bars" aria-hidden="true"></i>
                </label>
            
                <ul class="list">
                  <li><a href="../../index.html">Home</a></li>
                  <li><a href="../about/about.html">About</a></li>
                  <li><a href="../events/event.html">Events</a></li>
                  <li><a href="https://www.quimicabits.blogspot.com/">Blogs</a></li>
                  <li><a href="./team.html" class="active">Members</a></li>
                  <li><a href="../contact/contact.html">Contact</a></li>
                </ul>
              </nav>
            </div>
            <div class="context" data-aos="fade-up" data-aos-duration="1100">
                <h1>Quimica - Our Members</h1>
            </div>

            <div class="cursor"></div>
            <div class="cursor cursor2"></div>
</section>

<section class="secondpart">

  <div class="head-one" data-aos="fade-right" data-aos-duration="1100">
    <h1>Post Bearers</h1>
    <div class="line-one"></div>
  </div>

   <div class="container-one">

    <div class="card-one" data-aos="fade-up" data-aos-duration="1100">
      <div class="card_border">
        <img src="../../images/Nirupama ma'am (1).jpg" alt="card image" class="card_img">
      </div>

      <h3 class="card_name">Abhishek Kumar</h3>
      <span class="card_profession">Convenor</span>

      <div class="card_social" id="card-social1">
        <div class="card_social-control">
        <div class="card_social-toggle" id="card-toggle1">
          <i class="ri-add-fill"></i>
        </div>

        <span class="card_social-text">Social Networks</span>

        <ul class="card_social-list">
          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-facebook-line"></i>
          </a>

          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-instagram-line"></i>
          </a>

          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-linkedin-line"></i>
          </a>
        </ul>
      </div>
    </div>
    </div>

    <div class="card-one" data-aos="fade-up" data-aos-duration="1100">
      <div class="card_border">
        <img src="../../images/Nirupama ma'am (1).jpg" alt="card image" class="card_img">
      </div>

      <h3 class="card_name">Sinchita Ghosh</h3>
      <span class="card_profession">Co-Convenor</span>

      <div class="card_social" id="card-social2">
        <div class="card_social-control">
        <div class="card_social-toggle" id="card-toggle2">
          <i class="ri-add-fill"></i>
        </div>

        <span class="card_social-text">Social Networks</span>

        <ul class="card_social-list">
          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-facebook-line"></i>
          </a>

          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-instagram-line"></i>
          </a>

          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-linkedin-line"></i>
          </a>
        </ul>
      </div>
    </div>
    </div>

    <div class="card-one" data-aos="fade-up" data-aos-duration="1100">
      <div class="card_border">
        <img src="../../images/Nirupama ma'am (1).jpg" alt="card image" class="card_img">
      </div>

      <h3 class="card_name">Saurabh Mishra</h3>
      <span class="card_profession">Co-Convenor</span>

      <div class="card_social" id="card-social3">
        <div class="card_social-control">
        <div class="card_social-toggle" id="card-toggle3">
          <i class="ri-add-fill"></i>
        </div>

        <span class="card_social-text">Social Networks</span>

        <ul class="card_social-list">
          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-facebook-line"></i>
          </a>

          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-instagram-line"></i>
          </a>

          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-linkedin-line"></i>
          </a>
        </ul>
      </div>
    </div>
    </div>

    <div class="card-one" data-aos="fade-up" data-aos-duration="1100">
      <div class="card_border">
        <img src="../../images/Nirupama ma'am (1).jpg" alt="card image" class="card_img">
      </div>

      <h3 class="card_name">Amber Kumar</h3>
      <span class="card_profession">Secretary</span>

      <div class="card_social" id="card-social4">
        <div class="card_social-control">
        <div class="card_social-toggle" id="card-toggle4">
          <i class="ri-add-fill"></i>
        </div>

        <span class="card_social-text">Social Networks</span>

        <ul class="card_social-list">
          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-facebook-line"></i>
          </a>

          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-instagram-line"></i>
          </a>

          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-linkedin-line"></i>
          </a>
        </ul>
      </div>
    </div>
    </div>

    <div class="card-one" data-aos="fade-up" data-aos-duration="1100">
      <div class="card_border">
        <img src="../../images/Nirupama ma'am (1).jpg" alt="card image" class="card_img">
      </div>

      <h3 class="card_name">Md. Sahil</h3>
      <span class="card_profession">Joint Secretary</span>

      <div class="card_social" id="card-social5">
        <div class="card_social-control">
        <div class="card_social-toggle" id="card-toggle5">
          <i class="ri-add-fill"></i>
        </div>

        <span class="card_social-text">Social Networks</span>

        <ul class="card_social-list">
          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-facebook-line"></i>
          </a>

          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-instagram-line"></i>
          </a>

          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-linkedin-line"></i>
          </a>
        </ul>
      </div>
    </div>
    </div>

    <div class="card-one" data-aos="fade-up" data-aos-duration="1100">
      <div class="card_border">
        <img src="../../images/Nirupama ma'am (1).jpg" alt="card image" class="card_img">
      </div>

      <h3 class="card_name">Bhumika Oraon</h3>
      <span class="card_profession">Joint Secretary</span>

      <div class="card_social" id="card-social6">
        <div class="card_social-control">
        <div class="card_social-toggle" id="card-toggle6">
          <i class="ri-add-fill"></i>
        </div>

        <span class="card_social-text">Social Networks</span>

        <ul class="card_social-list">
          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-facebook-line"></i>
          </a>

          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-instagram-line"></i>
          </a>

          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-linkedin-line"></i>
          </a>
        </ul>
      </div>
    </div>
    </div>

    <div class="card-one" data-aos="fade-up" data-aos-duration="1100">
      <div class="card_border">
        <img src="../../images/Nirupama ma'am (1).jpg" alt="card image" class="card_img">
      </div>

      <h3 class="card_name">Harsha Sinha</h3>
      <span class="card_profession">Treasurer</span>

      <div class="card_social" id="card-social7">
        <div class="card_social-control">
        <div class="card_social-toggle" id="card-toggle7">
          <i class="ri-add-fill"></i>
        </div>

        <span class="card_social-text">Social Networks</span>

        <ul class="card_social-list">
          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-facebook-line"></i>
          </a>

          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-instagram-line"></i>
          </a>

          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-linkedin-line"></i>
          </a>
        </ul>
      </div>
    </div>
    </div>

    <div class="card-one" data-aos="fade-up" data-aos-duration="1100">
      <div class="card_border">
        <img src="../../images/Nirupama ma'am (1).jpg" alt="card image" class="card_img">
      </div>

      <h3 class="card_name">Nitish Kumar</h3>
      <span class="card_profession">Joint Treasurer</span>

      <div class="card_social" id="card-social8">
        <div class="card_social-control">
        <div class="card_social-toggle" id="card-toggle8">
          <i class="ri-add-fill"></i>
        </div>

        <span class="card_social-text">Social Networks</span>

        <ul class="card_social-list">
          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-facebook-line"></i>
          </a>

          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-instagram-line"></i>
          </a>

          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-linkedin-line"></i>
          </a>
        </ul>
      </div>
    </div>
    </div>

    <div class="card-one" data-aos="fade-up" data-aos-duration="1100">
      <div class="card_border">
        <img src="../../images/Nirupama ma'am (1).jpg" alt="card image" class="card_img">
      </div>

      <h3 class="card_name">Dipika Mardi</h3>
      <span class="card_profession">Joint Treasurer</span>

      <div class="card_social" id="card-social9">
        <div class="card_social-control">
        <div class="card_social-toggle" id="card-toggle9">
          <i class="ri-add-fill"></i>
        </div>

        <span class="card_social-text">Social Networks</span>

        <ul class="card_social-list">
          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-facebook-line"></i>
          </a>

          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-instagram-line"></i>
          </a>

          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-linkedin-line"></i>
          </a>
        </ul>
      </div>
    </div>
    </div>

    <div class="card-one" data-aos="fade-up" data-aos-duration="1100">
      <div class="card_border">
        <img src="../../images/Nirupama ma'am (1).jpg" alt="card image" class="card_img">
      </div>

      <h3 class="card_name">Pooja Kumari</h3>
      <span class="card_profession">Technical Head</span>

      <div class="card_social" id="card-social10">
        <div class="card_social-control">
        <div class="card_social-toggle" id="card-toggle10">
          <i class="ri-add-fill"></i>
        </div>

        <span class="card_social-text">Social Networks</span>

        <ul class="card_social-list">
          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-facebook-line"></i>
          </a>

          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-instagram-line"></i>
          </a>

          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-linkedin-line"></i>
          </a>
        </ul>
      </div>
    </div>
    </div>

    <div class="card-one" data-aos="fade-up" data-aos-duration="1100">
      <div class="card_border">
        <img src="../../images/Nirupama ma'am (1).jpg" alt="card image" class="card_img">
      </div>

      <h3 class="card_name">Anjali Sah</h3>
      <span class="card_profession">Content Development Head</span>

      <div class="card_social" id="card-social11">
        <div class="card_social-control">
        <div class="card_social-toggle" id="card-toggle11">
          <i class="ri-add-fill"></i>
        </div>

        <span class="card_social-text">Social Networks</span>

        <ul class="card_social-list">
          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-facebook-line"></i>
          </a>

          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-instagram-line"></i>
          </a>

          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-linkedin-line"></i>
          </a>
        </ul>
      </div>
    </div>
    </div>

    <div class="card-one" data-aos="fade-up" data-aos-duration="1100">
      <div class="card_border">
        <img src="../../images/Nirupama ma'am (1).jpg" alt="card image" class="card_img">
      </div>

      <h3 class="card_name">Sachin Hembram</h3>
      <span class="card_profession">Alumni In-Charge</span>

      <div class="card_social" id="card-social12">
        <div class="card_social-control">
        <div class="card_social-toggle" id="card-toggle12">
          <i class="ri-add-fill"></i>
        </div>

        <span class="card_social-text">Social Networks</span>

        <ul class="card_social-list">
          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-facebook-line"></i>
          </a>

          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-instagram-line"></i>
          </a>

          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-linkedin-line"></i>
          </a>
        </ul>
      </div>
    </div>
    </div>

    <div class="card-one" data-aos="fade-up" data-aos-duration="1100">
      <div class="card_border">
        <img src="../../images/Nirupama ma'am (1).jpg" alt="card image" class="card_img">
      </div>

      <h3 class="card_name">Dibya Rashmi</h3>
      <span class="card_profession">Alumni In-Charge</span>

      <div class="card_social" id="card-social13">
        <div class="card_social-control">
        <div class="card_social-toggle" id="card-toggle13">
          <i class="ri-add-fill"></i>
        </div>

        <span class="card_social-text">Social Networks</span>

        <ul class="card_social-list">
          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-facebook-line"></i>
          </a>

          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-instagram-line"></i>
          </a>

          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-linkedin-line"></i>
          </a>
        </ul>
      </div>
    </div>
    </div>

    <div class="card-one" data-aos="fade-up" data-aos-duration="1100">
      <div class="card_border">
        <img src="../../images/Nirupama ma'am (1).jpg" alt="card image" class="card_img">
      </div>

      <h3 class="card_name">Riya Singh</h3>
      <span class="card_profession">Public Relation Officer</span>

      <div class="card_social" id="card-social14">
        <div class="card_social-control">
        <div class="card_social-toggle" id="card-toggle14">
          <i class="ri-add-fill"></i>
        </div>

        <span class="card_social-text">Social Networks</span>

        <ul class="card_social-list">
          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-facebook-line"></i>
          </a>

          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-instagram-line"></i>
          </a>

          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-linkedin-line"></i>
          </a>
        </ul>
      </div>
    </div>
    </div>

    <div class="card-one" data-aos="fade-up" data-aos-duration="1100">
      <div class="card_border">
        <img src="../../images/Nirupama ma'am (1).jpg" alt="card image" class="card_img">
      </div>

      <h3 class="card_name">Shubham Kumar</h3>
      <span class="card_profession">Public Relation Officer</span>

      <div class="card_social" id="card-social15">
        <div class="card_social-control">
        <div class="card_social-toggle" id="card-toggle15">
          <i class="ri-add-fill"></i>
        </div>

        <span class="card_social-text">Social Networks</span>

        <ul class="card_social-list">
          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-facebook-line"></i>
          </a>

          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-instagram-line"></i>
          </a>

          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-linkedin-line"></i>
          </a>
        </ul>
      </div>
    </div>
    </div>

    <div class="card-one" data-aos="fade-up" data-aos-duration="1100">
      <div class="card_border">
        <img src="../../images/Nirupama ma'am (1).jpg" alt="card image" class="card_img">
      </div>

      <h3 class="card_name">Simran</h3>
      <span class="card_profession">Event Coordinator</span>

      <div class="card_social" id="card-social16">
        <div class="card_social-control">
        <div class="card_social-toggle" id="card-toggle16">
          <i class="ri-add-fill"></i>
        </div>

        <span class="card_social-text">Social Networks</span>

        <ul class="card_social-list">
          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-facebook-line"></i>
          </a>

          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-instagram-line"></i>
          </a>

          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-linkedin-line"></i>
          </a>
        </ul>
      </div>
    </div>
    </div>

    <div class="card-one" data-aos="fade-up" data-aos-duration="1100">
      <div class="card_border">
        <img src="../../images/Nirupama ma'am (1).jpg" alt="card image" class="card_img">
      </div>

      <h3 class="card_name">Robins Mehra</h3>
      <span class="card_profession">Event Coordinator</span>

      <div class="card_social" id="card-social17">
        <div class="card_social-control">
        <div class="card_social-toggle" id="card-toggle17">
          <i class="ri-add-fill"></i>
        </div>

        <span class="card_social-text">Social Networks</span>

        <ul class="card_social-list">
          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-facebook-line"></i>
          </a>

          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-instagram-line"></i>
          </a>

          <a href="#" class="card_social-link" target="_blank">
            <i class="ri-linkedin-line"></i>
          </a>
        </ul>
      </div>
    </div>
    </div>

    
   </div>

</section>

<section class="thirdpart">

  <div class="head-two" data-aos="fade-right" data-aos-duration="1100">
    <h1>2K20 Members</h1>
    <div class="line-two"></div>
  </div>
  
  <div class="container-two">
  
    <div class="card-two" data-aos="fade-up" data-aos-duration="1100">
      <div class="content-two">
      <div class="image_box-two"><img src="../../images/HOD Amit Sir (1).jpg"></div>
      <div class="content_box-two">
          <h3>Shruti Kumari<br><span>Technical & Hospitality Team</span></h3>
      </div>
      </div>
      <ul class="sci">
          <li style="--i:1">
              <a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li style="--i:2">
              <a href="#"><i class="fa fa-instagram"></i></a>
              </li>
              <li style="--i:3">
              <a href="#"><i class="fa fa-linkedin"></i></a>
          </li>
      </ul>
      </div>

      <div class="card-two" data-aos="fade-up" data-aos-duration="1100">
        <div class="content-two">
        <div class="image_box-two"><img src="../../images/HOD Amit Sir (1).jpg"></div>
        <div class="content_box-two">
            <h3>Shalvi Kumari Gupta<br><span>Technical Team</span></h3>
        </div>
        </div>
        <ul class="sci">
            <li style="--i:1">
                <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li style="--i:2">
                <a href="#"><i class="fa fa-instagram"></i></a>
                </li>
                <li style="--i:3">
                <a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
        </ul>
        </div>

        <div class="card-two" data-aos="fade-up" data-aos-duration="1100">
          <div class="content-two">
          <div class="image_box-two"><img src="../../images/HOD Amit Sir (1).jpg"></div>
          <div class="content_box-two">
              <h3>Anshu Kumari<br><span>Technical Team</span></h3>
          </div>
          </div>
          <ul class="sci">
              <li style="--i:1">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li style="--i:2">
                  <a href="#"><i class="fa fa-instagram"></i></a>
                  </li>
                  <li style="--i:3">
                  <a href="#"><i class="fa fa-linkedin"></i></a>
              </li>
          </ul>
          </div>

          <div class="card-two" data-aos="fade-up" data-aos-duration="1100">
            <div class="content-two">
            <div class="image_box-two"><img src="../../images/HOD Amit Sir (1).jpg"></div>
            <div class="content_box-two">
                <h3>Rashmita Soren<br><span>Technical Team</span></h3>
            </div>
            </div>
            <ul class="sci">
                <li style="--i:1">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li style="--i:2">
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li style="--i:3">
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
            </ul>
            </div>

            <div class="card-two" data-aos="fade-up" data-aos-duration="1100">
              <div class="content-two">
              <div class="image_box-two"><img src="../../images/HOD Amit Sir (1).jpg"></div>
              <div class="content_box-two">
                  <h3>Arjun Srivastava<br><span>Technical & Hospitality Team</span></h3>
              </div>
              </div>
              <ul class="sci">
                  <li style="--i:1">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      </li>
                      <li style="--i:2">
                      <a href="#"><i class="fa fa-instagram"></i></a>
                      </li>
                      <li style="--i:3">
                      <a href="#"><i class="fa fa-linkedin"></i></a>
                  </li>
              </ul>
              </div>

              <div class="card-two" data-aos="fade-up" data-aos-duration="1100">
                <div class="content-two">
                <div class="image_box-two"><img src="../../images/HOD Amit Sir (1).jpg"></div>
                <div class="content_box-two">
                    <h3>Gourav Kumar<br><span>Technical & Logistics Team</span></h3>
                </div>
                </div>
                <ul class="sci">
                    <li style="--i:1">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li style="--i:2">
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li style="--i:3">
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
                </div>

                <div class="card-two" data-aos="fade-up" data-aos-duration="1100">
                  <div class="content-two">
                  <div class="image_box-two"><img src="../../images/HOD Amit Sir (1).jpg"></div>
                  <div class="content_box-two">
                      <h3>Avinav Raj Singh<br><span>Technical Team</span></h3>
                  </div>
                  </div>
                  <ul class="sci">
                      <li style="--i:1">
                          <a href="#"><i class="fa fa-facebook"></i></a>
                          </li>
                          <li style="--i:2">
                          <a href="#"><i class="fa fa-instagram"></i></a>
                          </li>
                          <li style="--i:3">
                          <a href="#"><i class="fa fa-linkedin"></i></a>
                      </li>
                  </ul>
                  </div>

                  <div class="card-two" data-aos="fade-up" data-aos-duration="1100">
                    <div class="content-two">
                    <div class="image_box-two"><img src="../../images/HOD Amit Sir (1).jpg"></div>
                    <div class="content_box-two">
                        <h3>Swadha Shree<br><span>Content Development Team</span></h3>
                    </div>
                    </div>
                    <ul class="sci">
                        <li style="--i:1">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li style="--i:2">
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li style="--i:3">
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                    </div>

                    <div class="card-two" data-aos="fade-up" data-aos-duration="1100">
                      <div class="content-two">
                      <div class="image_box-two"><img src="../../images/HOD Amit Sir (1).jpg"></div>
                      <div class="content_box-two">
                          <h3>Kirti Kumari<br><span>Content Development Team</span></h3>
                      </div>
                      </div>
                      <ul class="sci">
                          <li style="--i:1">
                              <a href="#"><i class="fa fa-facebook"></i></a>
                              </li>
                              <li style="--i:2">
                              <a href="#"><i class="fa fa-instagram"></i></a>
                              </li>
                              <li style="--i:3">
                              <a href="#"><i class="fa fa-linkedin"></i></a>
                          </li>
                      </ul>
                      </div>

                      <div class="card-two" data-aos="fade-up" data-aos-duration="1100">
                        <div class="content-two">
                        <div class="image_box-two"><img src="../../images/HOD Amit Sir (1).jpg"></div>
                        <div class="content_box-two">
                            <h3>Md. Junaid<br><span>Content Development Team</span></h3>
                        </div>
                        </div>
                        <ul class="sci">
                            <li style="--i:1">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li style="--i:2">
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                </li>
                                <li style="--i:3">
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                        </div>

                        <div class="card-two" data-aos="fade-up" data-aos-duration="1100">
                          <div class="content-two">
                          <div class="image_box-two"><img src="../../images/HOD Amit Sir (1).jpg"></div>
                          <div class="content_box-two">
                              <h3>Shiwajee Ketan<br><span>Content Development Team</span></h3>
                          </div>
                          </div>
                          <ul class="sci">
                              <li style="--i:1">
                                  <a href="#"><i class="fa fa-facebook"></i></a>
                                  </li>
                                  <li style="--i:2">
                                  <a href="#"><i class="fa fa-instagram"></i></a>
                                  </li>
                                  <li style="--i:3">
                                  <a href="#"><i class="fa fa-linkedin"></i></a>
                              </li>
                          </ul>
                          </div>

                          <div class="card-two" data-aos="fade-up" data-aos-duration="1100">
                            <div class="content-two">
                            <div class="image_box-two"><img src="../../images/HOD Amit Sir (1).jpg"></div>
                            <div class="content_box-two">
                                <h3>Kumar Satyam<br><span>Content Development Team</span></h3>
                            </div>
                            </div>
                            <ul class="sci">
                                <li style="--i:1">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li style="--i:2">
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    </li>
                                    <li style="--i:3">
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                            </div>

                            <div class="card-two" data-aos="fade-up" data-aos-duration="1100">
                              <div class="content-two">
                              <div class="image_box-two"><img src="../../images/HOD Amit Sir (1).jpg"></div>
                              <div class="content_box-two">
                                  <h3>Adarsh Kumar<br><span>Hospitality Team</span></h3>
                              </div>
                              </div>
                              <ul class="sci">
                                  <li style="--i:1">
                                      <a href="#"><i class="fa fa-facebook"></i></a>
                                      </li>
                                      <li style="--i:2">
                                      <a href="#"><i class="fa fa-instagram"></i></a>
                                      </li>
                                      <li style="--i:3">
                                      <a href="#"><i class="fa fa-linkedin"></i></a>
                                  </li>
                              </ul>
                              </div>

                              <div class="card-two" data-aos="fade-up" data-aos-duration="1100">
                                <div class="content-two">
                                <div class="image_box-two"><img src="../../images/HOD Amit Sir (1).jpg"></div>
                                <div class="content_box-two">
                                    <h3>Akash Pandey<br><span>Hospitality Team</span></h3>
                                </div>
                                </div>
                                <ul class="sci">
                                    <li style="--i:1">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li style="--i:2">
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                        </li>
                                        <li style="--i:3">
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                </ul>
                                </div>

                                <div class="card-two" data-aos="fade-up" data-aos-duration="1100">
                                  <div class="content-two">
                                  <div class="image_box-two"><img src="../../images/HOD Amit Sir (1).jpg"></div>
                                  <div class="content_box-two">
                                      <h3>Akash Kumar<br><span>Logistics Team</span></h3>
                                  </div>
                                  </div>
                                  <ul class="sci">
                                      <li style="--i:1">
                                          <a href="#"><i class="fa fa-facebook"></i></a>
                                          </li>
                                          <li style="--i:2">
                                          <a href="#"><i class="fa fa-instagram"></i></a>
                                          </li>
                                          <li style="--i:3">
                                          <a href="#"><i class="fa fa-linkedin"></i></a>
                                      </li>
                                  </ul>
                                  </div>

                                  <div class="card-two" data-aos="fade-up" data-aos-duration="1100">
                                    <div class="content-two">
                                    <div class="image_box-two"><img src="../../images/HOD Amit Sir (1).jpg"></div>
                                    <div class="content_box-two">
                                        <h3>Ashutosh Kr. Pandey<br><span>Logistics Team</span></h3>
                                    </div>
                                    </div>
                                    <ul class="sci">
                                        <li style="--i:1">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            </li>
                                            <li style="--i:2">
                                            <a href="#"><i class="fa fa-instagram"></i></a>
                                            </li>
                                            <li style="--i:3">
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                        </li>
                                    </ul>
                                    </div>

                                    <div class="card-two" data-aos="fade-up" data-aos-duration="1100">
                                      <div class="content-two">
                                      <div class="image_box-two"><img src="../../images/HOD Amit Sir (1).jpg"></div>
                                      <div class="content_box-two">
                                          <h3>Anish Kumar<br><span>Logistics Team</span></h3>
                                      </div>
                                      </div>
                                      <ul class="sci">
                                          <li style="--i:1">
                                              <a href="#"><i class="fa fa-facebook"></i></a>
                                              </li>
                                              <li style="--i:2">
                                              <a href="#"><i class="fa fa-instagram"></i></a>
                                              </li>
                                              <li style="--i:3">
                                              <a href="#"><i class="fa fa-linkedin"></i></a>
                                          </li>
                                      </ul>
                                      </div>

                                      <div class="card-two" data-aos="fade-up" data-aos-duration="1100">
                                        <div class="content-two">
                                        <div class="image_box-two"><img src="../../images/HOD Amit Sir (1).jpg"></div>
                                        <div class="content_box-two">
                                            <h3>Nishant Kr. Yadav<br><span>Logistics Team</span></h3>
                                        </div>
                                        </div>
                                        <ul class="sci">
                                            <li style="--i:1">
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                                </li>
                                                <li style="--i:2">
                                                <a href="#"><i class="fa fa-instagram"></i></a>
                                                </li>
                                                <li style="--i:3">
                                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                            </li>
                                        </ul>
                                        </div>

                                        <div class="card-two" data-aos="fade-up" data-aos-duration="1100">
                                          <div class="content-two">
                                          <div class="image_box-two"><img src="../../images/HOD Amit Sir (1).jpg"></div>
                                          <div class="content_box-two">
                                              <h3>Sahitya Suman<br><span>Logistics Team</span></h3>
                                          </div>
                                          </div>
                                          <ul class="sci">
                                              <li style="--i:1">
                                                  <a href="#"><i class="fa fa-facebook"></i></a>
                                                  </li>
                                                  <li style="--i:2">
                                                  <a href="#"><i class="fa fa-instagram"></i></a>
                                                  </li>
                                                  <li style="--i:3">
                                                  <a href="#"><i class="fa fa-linkedin"></i></a>
                                              </li>
                                          </ul>
                                          </div>
    
  </div>


</section>


<section class="fourthpart">

  <div class="head-three" data-aos="fade-right" data-aos-duration="1100">
    <h1>2K21 Members</h1>
    <div class="line-three"></div>
  </div>

   <div class="container-three" data-aos="fade-up" data-aos-duration="1100">
    <div class="icon">
      <div class="imgBx current" style="--i:1;" data-id="content1">
        <img src="../../images/pic1.jpg" alt="card icon">
      </div>
      <div class="imgBx" style="--i:2;" data-id="content2">
        <img src="../../images/pic2.jpg" alt="card icon">
      </div>
      <div class="imgBx" style="--i:3;" data-id="content3">
        <img src="../../images/pic3.jpg" alt="card icon">
      </div>
      <div class="imgBx" style="--i:4;" data-id="content4">
        <img src="../../images/pic4.jpg" alt="card icon">
      </div>
      <div class="imgBx" style="--i:5;" data-id="content5">
        <img src="../../images/pic5.jpg" alt="card icon">
      </div>
      <div class="imgBx" style="--i:6;" data-id="content6">
        <img src="../../images/Director.jpg" alt="card icon">
      </div>
      <div class="imgBx" style="--i:7;" data-id="content7">
        <img src="../../images/Nirupama ma'am (1).jpg" alt="card icon">
      </div>
      <div class="imgBx" style="--i:8;" data-id="content8">
        <img src="../../images/Poster Presentation.jpg" alt="card icon">
      </div>
      <div class="imgBx" style="--i:9;" data-id="content9">
        <img src="../../images/Webinar.jpeg" alt="card icon">
      </div>
      <div class="imgBx" style="--i:10;" data-id="content10">
        <img src="../../images/Quiz Competition.jpg" alt="card icon">
      </div>
      <div class="imgBx" style="--i:11;" data-id="content11">
        <img src="../../images/Seminar Ravi.jpg" alt="card icon">
      </div>
      <div class="imgBx" style="--i:12;" data-id="content12">
        <img src="../../images/Conference.jpg" alt="card icon">
      </div>
      <div class="imgBx" style="--i:13;" data-id="content13">
        <img src="../../images/Final Round.jpeg" alt="card icon">
      </div>
      <div class="imgBx" style="--i:14;" data-id="content14">
        <img src="../../images/HOD Amit Sir (1).jpg" alt="card icon">
      </div>
    </div>

    <div class="content-three">

      <div class="contentBx current" id="content1">
        <div class="card-three">
          <div class="imgBx2">
            <img src="../../images/pic1.jpg" alt="card-image">
          </div>
          <div class="textBx">
            <h2>Abhay Anand<br><span>Web Developer</span></h2>
            <ul class="sci-three">
              <li><a href="#"><i class="ri-facebook-line"></i></a></li>
              <li><a href="#"><i class="ri-instagram-line"></i></a></li>
              <li><a href="#"><i class="ri-linkedin-line"></i></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="contentBx" id="content2">
        <div class="card-three">
          <div class="imgBx2">
            <img src="../../images/pic2.jpg" alt="card-image">
          </div>
          <div class="textBx">
            <h2>Abhay Anand<br><span>Web Developer</span></h2>
            <ul class="sci-three">
              <li><a href="#"><i class="ri-facebook-line"></i></a></li>
              <li><a href="#"><i class="ri-instagram-line"></i></a></li>
              <li><a href="#"><i class="ri-linkedin-line"></i></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="contentBx" id="content3">
        <div class="card-three">
          <div class="imgBx2">
            <img src="../../images/pic3.jpg" alt="card-image">
          </div>
          <div class="textBx">
            <h2>Abhay Anand<br><span>Web Developer</span></h2>
            <ul class="sci-three">
              <li><a href="#"><i class="ri-facebook-line"></i></a></li>
              <li><a href="#"><i class="ri-instagram-line"></i></a></li>
              <li><a href="#"><i class="ri-linkedin-line"></i></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="contentBx" id="content4">
        <div class="card-three">
          <div class="imgBx2">
            <img src="../../images/pic4.jpg" alt="card-image">
          </div>
          <div class="textBx">
            <h2>Abhay Anand<br><span>Web Developer</span></h2>
            <ul class="sci-three">
              <li><a href="#"><i class="ri-facebook-line"></i></a></li>
              <li><a href="#"><i class="ri-instagram-line"></i></a></li>
              <li><a href="#"><i class="ri-linkedin-line"></i></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="contentBx" id="content5">
        <div class="card-three">
          <div class="imgBx2">
            <img src="../../images/pic5.jpg" alt="card-image">
          </div>
          <div class="textBx">
            <h2>Abhay Anand<br><span>Web Developer</span></h2>
            <ul class="sci-three">
              <li><a href="#"><i class="ri-facebook-line"></i></a></li>
              <li><a href="#"><i class="ri-instagram-line"></i></a></li>
              <li><a href="#"><i class="ri-linkedin-line"></i></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="contentBx" id="content6">
        <div class="card-three">
          <div class="imgBx2">
            <img src="../../images/Director.jpg" alt="card-image">
          </div>
          <div class="textBx">
            <h2>Abhay Anand<br><span>Web Developer</span></h2>
            <ul class="sci-three">
              <li><a href="#"><i class="ri-facebook-line"></i></a></li>
              <li><a href="#"><i class="ri-instagram-line"></i></a></li>
              <li><a href="#"><i class="ri-linkedin-line"></i></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="contentBx" id="content7">
        <div class="card-three">
          <div class="imgBx2">
            <img src="../../images/Nirupama ma'am (1).jpg" alt="card-image">
          </div>
          <div class="textBx">
            <h2>Abhay Anand<br><span>Web Developer</span></h2>
            <ul class="sci-three">
              <li><a href="#"><i class="ri-facebook-line"></i></a></li>
              <li><a href="#"><i class="ri-instagram-line"></i></a></li>
              <li><a href="#"><i class="ri-linkedin-line"></i></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="contentBx" id="content8">
        <div class="card-three">
          <div class="imgBx2">
            <img src="../../images/Poster Presentation.jpg" alt="card-image">
          </div>
          <div class="textBx">
            <h2>Abhay Anand<br><span>Web Developer</span></h2>
            <ul class="sci-three">
              <li><a href="#"><i class="ri-facebook-line"></i></a></li>
              <li><a href="#"><i class="ri-instagram-line"></i></a></li>
              <li><a href="#"><i class="ri-linkedin-line"></i></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="contentBx" id="content9">
        <div class="card-three">
          <div class="imgBx2">
            <img src="../../images/Webinar.jpeg" alt="card-image">
          </div>
          <div class="textBx">
            <h2>Abhay Anand<br><span>Web Developer</span></h2>
            <ul class="sci-three">
              <li><a href="#"><i class="ri-facebook-line"></i></a></li>
              <li><a href="#"><i class="ri-instagram-line"></i></a></li>
              <li><a href="#"><i class="ri-linkedin-line"></i></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="contentBx" id="content10">
        <div class="card-three">
          <div class="imgBx2">
            <img src="../../images/Quiz Competition.jpg" alt="card-image">
          </div>
          <div class="textBx">
            <h2>Abhay Anand<br><span>Web Developer</span></h2>
            <ul class="sci-three">
              <li><a href="#"><i class="ri-facebook-line"></i></a></li>
              <li><a href="#"><i class="ri-instagram-line"></i></a></li>
              <li><a href="#"><i class="ri-linkedin-line"></i></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="contentBx" id="content11">
        <div class="card-three">
          <div class="imgBx2">
            <img src="../../images/Seminar Ravi.jpg" alt="card-image">
          </div>
          <div class="textBx">
            <h2>Abhay Anand<br><span>Web Developer</span></h2>
            <ul class="sci-three">
              <li><a href="#"><i class="ri-facebook-line"></i></a></li>
              <li><a href="#"><i class="ri-instagram-line"></i></a></li>
              <li><a href="#"><i class="ri-linkedin-line"></i></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="contentBx" id="content12">
        <div class="card-three">
          <div class="imgBx2">
            <img src="../../images/Conference.jpg" alt="card-image">
          </div>
          <div class="textBx">
            <h2>Abhay Anand<br><span>Web Developer</span></h2>
            <ul class="sci-three">
              <li><a href="#"><i class="ri-facebook-line"></i></a></li>
              <li><a href="#"><i class="ri-instagram-line"></i></a></li>
              <li><a href="#"><i class="ri-linkedin-line"></i></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="contentBx" id="content13">
        <div class="card-three">
          <div class="imgBx2">
            <img src="../../images/Final Round.jpeg" alt="card-image">
          </div>
          <div class="textBx">
            <h2>Abhay Anand<br><span>Web Developer</span></h2>
            <ul class="sci-three">
              <li><a href="#"><i class="ri-facebook-line"></i></a></li>
              <li><a href="#"><i class="ri-instagram-line"></i></a></li>
              <li><a href="#"><i class="ri-linkedin-line"></i></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="contentBx" id="content14">
        <div class="card-three">
          <div class="imgBx2">
            <img src="../../images/HOD Amit Sir (1).jpg" alt="card-image">
          </div>
          <div class="textBx">
            <h2>Abhay Anand<br><span>Web Developer</span></h2>
            <ul class="sci-three">
              <li><a href="#"><i class="ri-facebook-line"></i></a></li>
              <li><a href="#"><i class="ri-instagram-line"></i></a></li>
              <li><a href="#"><i class="ri-linkedin-line"></i></a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>

   </div>

</section>

<footer>
  <div class="footer-container">
    <div class="head-title">
      <h2>Quimica</h2>
      <p>The Annual Technical Colloquium</p>
      <ul class="social-icons">
        <li><a href="https://www.facebook.com/quimicabits"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="https://www.instagram.com/quimicabits_blog/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href="https://www.youtube.com/@quimicabits8163"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
      </ul>
    </div>
    <div class="sec quicklinks">
      <h2>Quick Links</h2>
      <ul>
        <li><a href="about.html">About</a></li>
        <li><a href="#">Blogs</a></li>
        <li><a href="#">Events & Workshop</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="sec contact-details">
      <h2>Get In Touch</h2>
      <ul class="info">
        <li>
          <span>B.I.T Sindri<br>828123, Dhanbad<br>Jharkhand</span>
        </li>
        <li>
          <p><a href="tel:+917903607014">+91 7903607014</a> /
             <a href="tel:+919199999709">+91 9199999709</a></p>
        </li>
        <li>
          <h3><a href="mailto:quimicabits@gmail.com">quimicabits@gmail.com</a></h3>
        </li>
      </ul>
    </div>
  </div>
</footer>
<div class="copyrighttext">
  <p>Copyright © 2023 All rights reserved | Quimica - Chemical Engineering Society</p>
  <p>Design and Developed by : Abhay Anand</p>
</div>


<script src="../../Script/script.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
    AOS.init();
    </script>
<script src="../../Script/content.js"></script>    
<script src="../../Script/team.js"></script>  
<script type="text/javascript" src="../../Script/smooth-scroll.js"></script>
<script type="text/javascript" src="../../Script/preloader.js"></script>

</body>
</html>