<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quimica | Members</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="./team.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" sizes="32x32" href="../../images/Quimica_icon (1) black.png">
</head>
<style>
  #preloader {
  position: fixed;
  inset: 0;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: opacity 0.4s ease;
}

.preloader-logo {
  width: 250px;
  height: auto;
  animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
}

</style>
<body>

  <div id="preloader">
    <img src="../../images/output-onlinegiftools.gif" alt="...Loading" class="preloader-logo" />
  </div>


  <script>
    window.addEventListener("load", function () {
      const preloader = document.getElementById("preloader");
      preloader.style.opacity = "0";
      setTimeout(() => {
        preloader.style.display = "none";
      }, 500);
    });
  </script>

  <header><div class="main-nav-parent" id="header">
    <nav>
        <div class="logo">
          <a href="../../index.html"><img src="../../images/Quimica_icon (1) black.png" alt="Quimica Logo"></a>
          <!-- <a href="index.html"><span>Q</span>UIMICA</a> -->
        </div>
        
        <input type="checkbox" id="click">
        <label for="click" class="menu-btn">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </label>
    
        <ul class="list">
          <li><a href="../../index.html">Home</a></li>
          <li><a href="../about/about.html">About</a></li>
          <li><a href="../events/event.html">Events</a></li>
          <li><a href="https://www.quimicabits.blogspot.com/">Blogs</a></li>
          <li><a href="./team.html" class="active">Members</a></li>
          <li><a href="../contact/contact.html">Contact</a></li>
        </ul>
      </nav>
    </div></header>
    
  <main class="l-main">
    <section class="firstpart">
        
            <div class="context" data-aos="fade-up" data-aos-duration="1100">
                <h1>Quimica - Our Members</h1>
            </div>

            <div class="cursor"></div>
            <div class="cursor cursor2"></div>
</section>


<!-- This is our team section - Post Bearers -->


<section class="secondpart">

  <div class="head-one" data-aos="fade-right" data-aos-duration="1100">
    <h1>Post Bearers</h1>
    <div class="line-one"></div>
  </div>

   <div class="container-one" id="post_bearer_team-container">

    <script>
        const postmembers = [
        {
            name: "Suraj Kumar",
            role: "President",
            image: "../../images/2021 Pics/IMG-20230501-WA0006 - Suraj kumar.jpg",
            facebook: "https://www.facebook.com/profile.php?id=100007939636078",
            instagram: "https://instagram.com/subroto_suraj",
            linkedin: "https://www.linkedin.com/in/suraj-kumar-3377b6216"
          },
          {
            name: "Vikas Kumar",
            role: "Vice President",
            image: "../../images/2021 Pics/SAVE_20231107_241034 - V K.jpg",
            facebook: "#",
            instagram: "https://instagram.com/vikas_kr_13",
            linkedin: "https://www.linkedin.com/in/vikas-kumar-8297a6236"
          },
          {
            name: "Madhu Kumari",
            role: "Vice President",
            image: "../../images/2021 Pics/20240727_231910 - 44_Madhu kumari_2021.jpg",
            facebook: "#",
            instagram: "https://instagram.com/madhukumaribokaro0123456",
            linkedin: "https://www.linkedin.com/in/madhu-kumari-809443255"
          },
          {
            name: "Vishnu Vaibhav Mishra",
            role: "Secretary",
            image: "../../images/2021 Pics/1000113349 - 094_Vishnu Vaibhav_2k21.jpg",
            facebook: "#",
            instagram: "https://instagram.com/vishnu_108_",
            linkedin: "https://www.linkedin.com/in/vishnu-vaibhav-614153230"
          },
          {
            name: "Ravi Kumar",
            role: "Joint Secretary",
            image: "../../images/2021 Pics/IMG-20241227-WA0098 - Ravi kumar.jpg",
            facebook: "#",
            instagram: "https://instagram.com/taiyo1701",
            linkedin: "https://www.linkedin.com/in/ravi-kumar-022b00237"
          },
          {
            name: "Ashish Kumar Saha",
            role: "Joint Secretary",
            image: "../../images/2021 Pics/IMG-20240514-WA0031 - ashish kumar saha..jpg",
            facebook: "#",
            instagram: "#",
            linkedin: "https://www.linkedin.com/in/ashish-kumar-saha-74328a246"
          },
          {
            name: "Syed Shifran Ahmad",
            role: "Treasurer",
            image: "../../images/2021 Pics/1745139022016~2 - 088_Syed Shifran Ahmad.jpg",
            facebook: "https://www.facebook.com/share/1ASZU5EHc4/",
            instagram: "https://www.instagram.com/syeds_section_07?igsh=ZTJqZWNrdnlzMWpy",
            linkedin: "https://www.linkedin.com/in/syed-shifran-ahmad-3b7787235"
          },
          {
            name: "Ujjwal Kumar",
            role: "Joint Treasurer",
            image: "../../images/2021 Pics/IMG-20240514-WA0049 - 090_Ujjwal _2k21.jpg",
            facebook: "https://www.facebook.com/profile.php?id=100012404948086",
            instagram: "https://instagram.com/mr.ujjwal2986",
            linkedin: "https://www.linkedin.com/in/ujjwal-kumar-68378523b"
          },
          {
            name: "Shiv Prasad Marandi",
            role: "Joint Treasurer",
            image: "../../images/2021 Pics/IMG_20241225_194949 - Shiv Prasad Marandi.jpg",
            facebook: "https://www.facebook.com/profile.php?id=100054534654249&mibextid=ZbWKwL",
            instagram: "https://instagram.com/shiv.prasad65",
            linkedin: "https://www.linkedin.com/in/shiv-prasad-marandi-8a23a4233"
          },
         {
            name: "Abhay Anand",
            role: "Technical Head",
            image: "../../images/2021 Pics/Abhay Anand.jpg",
            facebook: "https://www.facebook.com/abhay.anand.52090/",
            instagram: "https://www.instagram.com/iamabhayanand/",
            linkedin: "https://www.linkedin.com/in/abhay-anand-15a819212/"
          },
          {
            name: "Aditi Kumar",
            role: "Design and Creative Head",
            image: "../../images/2021 Pics/IMG-20250319-WA0013 - Aditi Kumar.jpg",
            facebook: "https://www.facebook.com/profile.php?id=100007252606767&mibextid=ZbWKwL",
            instagram: "https://instagram.com/adi_ti_1269",
            linkedin: "https://www.linkedin.com/in/aditi-kumar-24a728258"
          },
          {
            name: "Abhay Kumar",
            role: "Public Relation Officer",
            image: "../../images/2021 Pics/IMG_20241221_231406_542 - 004_Abhay Kumar.webp",
            facebook: "https://www.facebook.com/profile.php?id=100010707362134",
            instagram: "https://instagram.com/abhay2310",
            linkedin: "https://www.linkedin.com/in/abhay-kumar-a797a0233"
          },
          {
            name: "Amisha Singh",
            role: "Alumni In-charge",
            image: "../../images/2021 Pics/IMG_20240111_221035 - Amisha.jpg",
            facebook: "https://www.facebook.com/profile.php?id=100077715492310",
            instagram: "https://www.instagram.com/invites/contact/?i=z5skxki6l79a&utm_content=nasn6vr",
            linkedin: "https://www.linkedin.com/in/amisha-singh-36b946240"
          },
          {
            name: "Nisha Kumari",
            role: "Alumni In-charge",
            image: "../../images/2021 Pics/IMG20241020235537 - Nisha.jpg",
            facebook: "https://www.facebook.com/share/15GWnpBU9s/",
            instagram: "https://www.instagram.com/nisha_12216",
            linkedin: "https://www.linkedin.com/in/nisha-chauhan-97b662230"
          },
        ];

        const postmemberscontainer = document.getElementById("post_bearer_team-container");
        postmembers.forEach((postmembers, index) => {
          postmemberscontainer.innerHTML += `
            <div class="card-one" data-aos="fade-up" data-aos-duration="1100">
              <div class="card_border">
                <img src="${postmembers.image}" alt="card image" class="card_img">
              </div>
              <h3 class="card_name">${postmembers.name}</h3>
              <span class="card_profession">${postmembers.role}</span>
              <div class="card_social" id="card-social${index+1}">
                <div class="card_social-control">
                  <div class="card_social-toggle" id="card-toggle${index+1}">
                    <i class="ri-add-fill"></i>
                  </div>
                  <span class="card_social-text">Social Networks</span>
                  <ul class="card_social-list">
                    <a href="${postmembers.facebook}" class="card_social-link" target="_blank"><i class="ri-facebook-line"></i></a>
                    <a href="${postmembers.instagram}" class="card_social-link" target="_blank"><i class="ri-instagram-line"></i></a>
                    <a href="${postmembers.linkedin}" class="card_social-link" target="_blank"><i class="ri-linkedin-line"></i></a>
                  </ul>
                </div>
              </div>
            </div>
          `;
        });

    </script>

    
   </div>

</section>



<section class="fourthpart">

  <div class="head-three" data-aos="fade-right" data-aos-duration="1100">
    <h1>Post Bearers</h1>
    <div class="line-three"></div>
  </div>

   <div class="container-three" data-aos="fade-up" data-aos-duration="1100">
    <div class="icon" id="iconContainer">

      <script>
        const imageData = [
          { i: 1, dataId: "content1", src: "../../images/2021 Pics/Abhay Anand.jpg" },
          { i: 2, dataId: "content2", src: "../../images/2021 Pics/IMG-20230501-WA0006 - Suraj kumar.jpg" },
          { i: 3, dataId: "content3", src: "../../images/2021 Pics/IMG-20240514-WA0049 - 090_Ujjwal _2k21.jpg" },
          { i: 4, dataId: "content4", src: "../../images/2021 Pics/SAVE_20231107_241034 - V K.jpg" },
          { i: 5, dataId: "content5", src: "../../images/2021 Pics/IMG-20250319-WA0013 - Aditi Kumar.jpg" },
          { i: 6, dataId: "content6", src: "../../images/2021 Pics/20240727_231910 - 44_Madhu kumari_2021.jpg" },
          { i: 7, dataId: "content7", src: "../../images/2021 Pics/1000113349 - 094_Vishnu Vaibhav_2k21.jpg" },
          { i: 8, dataId: "content8", src: "../../images/2021 Pics/IMG-20241227-WA0098 - Ravi kumar.jpg" },
          { i: 9, dataId: "content9", src: "../../images/2021 Pics/IMG-20240514-WA0031 - ashish kumar saha..jpg" },
          { i: 10, dataId: "content10", src: "../../images/2021 Pics/IMG_20240111_221035 - Amisha.jpg" },
          { i: 11, dataId: "content11", src: "../../images/2021 Pics/IMG_20241225_194949 - Shiv Prasad Marandi.jpg" },
          { i: 12, dataId: "content12", src: "../../images/2021 Pics/IMG_20241221_231406_542 - 004_Abhay Kumar.webp" },
          { i: 13, dataId: "content13", src: "../../images/2021 Pics/1745139022016~2 - 088_Syed Shifran Ahmad.jpg" },
          { i: 14, dataId: "content14", src: "../../images/2021 Pics/IMG20241020235537 - Nisha.jpg" },
        ];
      
        const iconContainer = document.getElementById("iconContainer");
      
        imageData.forEach((item, index) => {
          const imgBox = document.createElement("div");
          imgBox.classList.add("imgBx");
          if (index === 0) imgBox.classList.add("current");
          imgBox.style.setProperty("--i", item.i);
          imgBox.setAttribute("data-id", item.dataId);
      
          const img = document.createElement("img");
          img.src = item.src;
          img.alt = "card icon";
      
          imgBox.appendChild(img);
          iconContainer.appendChild(imgBox);
        });
      </script>
      

    </div>

    <div class="content-three" id="team-container">

      <script>

              const members = [
          {
            name: "Abhay Anand",
            role: "Technical Head",
            image: "../../images/2021 Pics/Abhay Anand.jpg",
            facebook: "https://www.facebook.com/abhay.anand.52090/",
            instagram: "https://www.instagram.com/iamabhayanand/",
            linkedin: "https://www.linkedin.com/in/abhay-anand-15a819212/"
          },
          {
            name: "Suraj Kumar",
            role: "President",
            image: "../../images/2021 Pics/IMG-20230501-WA0006 - Suraj kumar.jpg",
            facebook: "https://www.facebook.com/profile.php?id=100007939636078",
            instagram: "https://instagram.com/subroto_suraj?igshid=ZDdkNTZiNTM=",
            linkedin: "https://www.linkedin.com/in/suraj-kumar-3377b6216"
          },
          {
            name: "Ujjwal Kumar",
            role: "Joint Treasurer",
            image: "../../images/2021 Pics/IMG-20240514-WA0049 - 090_Ujjwal _2k21.jpg",
            facebook: "https://www.facebook.com/profile.php?id=100012404948086",
            instagram: "https://instagram.com/mr.ujjwal2986?igshid=ZDdkNTZiNTM=",
            linkedin: "https://www.linkedin.com/in/ujjwal-kumar-68378523b"
          },
          {
            name: "Vikas Kumar",
            role: "Vice President",
            image: "../../images/2021 Pics/SAVE_20231107_241034 - V K.jpg",
            facebook: "#",
            instagram: "https://instagram.com/vikas_kr_13?igshid=ZDdkNTZiNTM=",
            linkedin: "https://www.linkedin.com/in/vikas-kumar-8297a6236"
          },
          {
            name: "Aditi Kumar",
            role: "Design and Creative Head",
            image: "../../images/2021 Pics/IMG-20250319-WA0013 - Aditi Kumar.jpg",
            facebook: "https://www.facebook.com/profile.php?id=100007252606767&mibextid=ZbWKwL",
            instagram: "https://instagram.com/adi_ti_1269?igshid=ZDdkNTZiNTM=",
            linkedin: "https://www.linkedin.com/in/aditi-kumar-24a728258"
          },
          {
            name: "Madhu Kumari",
            role: "Vice President",
            image: "../../images/2021 Pics/20240727_231910 - 44_Madhu kumari_2021.jpg",
            facebook: "#",
            instagram: "https://instagram.com/madhukumaribokaro0123456?igshid=ZDdkNTZiNTM=",
            linkedin: "https://www.linkedin.com/in/madhu-kumari-809443255"
          },
          {
            name: "Vishnu Mishra",
            role: "Secretary",
            image: "../../images/2021 Pics/1000113349 - 094_Vishnu Vaibhav_2k21.jpg",
            facebook: "#",
            instagram: "https://instagram.com/vishnu_108_?igshid=ZDdkNTZiNTM=",
            linkedin: "https://www.linkedin.com/in/vishnu-vaibhav-614153230"
          },
          {
            name: "Ravi Kumar",
            role: "Joint Secretary",
            image: "../../images/2021 Pics/IMG-20241227-WA0098 - Ravi kumar.jpg",
            facebook: "#",
            instagram: "https://instagram.com/taiyo1701?igshid=NzMyMjgxZWIzNw==",
            linkedin: "https://www.linkedin.com/in/ravi-kumar-022b00237"
          },
          {
            name: "Ashish Kumar Saha",
            role: "Joint Secretary",
            image: "../../images/2021 Pics/IMG-20240514-WA0031 - ashish kumar saha..jpg",
            facebook: "#",
            instagram: "#",
            linkedin: "https://www.linkedin.com/in/ashish-kumar-saha-74328a246"
          },
          {
            name: "Amisha Singh",
            role: "Alumni In-charge",
            image: "../../images/2021 Pics/IMG_20240111_221035 - Amisha.jpg",
            facebook: "https://www.facebook.com/profile.php?id=100077715492310",
            instagram: "https://www.instagram.com/invites/contact/?i=z5skxki6l79a&utm_content=nasn6vr",
            linkedin: "https://www.linkedin.com/in/amisha-singh-36b946240"
          },
          {
            name: "Shiv Prasad Marandi",
            role: "Joint Treasurer",
            image: "../../images/2021 Pics/IMG_20241225_194949 - Shiv Prasad Marandi.jpg",
            facebook: "https://www.facebook.com/profile.php?id=100054534654249&mibextid=ZbWKwL",
            instagram: "https://instagram.com/shiv.prasad65?igshid=ZDdkNTZiNTM=",
            linkedin: "https://www.linkedin.com/in/shiv-prasad-marandi-8a23a4233"
          },
          {
            name: "Abhay Kumar",
            role: "Public Relation Officer",
            image: "../../images/2021 Pics/IMG_20241221_231406_542 - 004_Abhay Kumar.webp",
            facebook: "https://www.facebook.com/profile.php?id=100010707362134",
            instagram: "https://instagram.com/abhay2310?igshid=ZDdkNTZiNTM=",
            linkedin: "https://www.linkedin.com/in/abhay-kumar-a797a0233"
          },
          {
            name: "Shifran Ahmad",
            role: "Treasurer",
            image: "../../images/2021 Pics/1745139022016~2 - 088_Syed Shifran Ahmad.jpg",
            facebook: "https://www.facebook.com/share/1ASZU5EHc4/",
            instagram: "https://www.instagram.com/syeds_section_07?igsh=ZTJqZWNrdnlzMWpy",
            linkedin: "https://www.linkedin.com/in/syed-shifran-ahmad-3b7787235"
          },
          {
            name: "Nisha Kumari",
            role: "Alumni In-charge",
            image: "../../images/2021 Pics/IMG20241020235537 - Nisha.jpg",
            facebook: "https://www.facebook.com/share/15GWnpBU9s/",
            instagram: "https://www.instagram.com/nisha_12216",
            linkedin: "https://www.linkedin.com/in/nisha-chauhan-97b662230"
          },
        ];

        const container = document.getElementById("team-container");

        members.forEach((member, index) => {
          const card = document.createElement("div");
          card.className = `contentBx${index === 0 ? " current" : ""}`;
          card.id = `content${index + 1}`;
          card.innerHTML = `
            <div class="card-three">
              <div class="imgBx2">
                <img src="${member.image}" alt="card-image">
              </div>
              <div class="textBx">
                <h2>${member.name}<br><span>${member.role}</span></h2>
                <ul class="sci-three">
                  <li><a href="${member.facebook}" target="_blank"><i class="ri-facebook-line"></i></a></li>
                  <li><a href="${member.instagram}" target="_blank"><i class="ri-instagram-line"></i></a></li>
                  <li><a href="${member.linkedin}" target="_blank"><i class="ri-linkedin-line"></i></a></li>
                </ul>
              </div>
            </div>
          `;
          container.appendChild(card);
        });

      </script>

    </div>

   </div>

</section>



<section class="thirdpart">

  <div class="head-two" data-aos="fade-right" data-aos-duration="1100">
    <h1>2022 Batch</h1>
    <div class="line-two"></div>
  </div>

  <div class="third-container" id="third-team-container" >
    <script>
    <!-- Card -->
            const teamMembers = [
            {
            name: "Rudranil Ganguly",
            role: "Content and Development Team",
            image: "../../images/2022 Pics/IMG-20250101-WA0164 - Rudranil Ganguly.jpg",
            socials: {
              facebook: "#",
              instagram: "https://www.instagram.com/cool_ganguly",
              linkedin: "https://www.linkedin.com/in/rudranil-ganguly-305411254"
            }
          },    
          {
            name: "Kartik Kumar",
            role: "Technical Team",
            image: "../../images/2022 Pics/IMG-20250212-WA0039 - Kartik Kumar.jpg",
            socials: {
              facebook: "#",
              instagram: "https://www.instagram.com/kartikkr1411",
              linkedin: "https://www.linkedin.com/in/kartik-kumar-550933298"
            }
          },
          {
            name: "Samriddhi Singh",
            role: "Content and Development Team",
            image: "../../images/2022 Pics/IMG-20250118-WA0049 - Samriddhi Singh.jpg",
            socials: {
              facebook: "#",
              instagram: "https://www.instagram.com/samriddhisingh091",
              linkedin: "https://www.linkedin.com/in/samriddhi-singh-7a0763272m"
            }
          },
          {
            name: "Akash Nath",
            role: "Technical Team",
            image: "../../images/2022 Pics/IMG_20250418_222853972~2 - Akash Nath.jpg",
            socials: {
              facebook: "https://www.facebook.com/TheAkashNath/",
              instagram: "https://instagram.com/theakashnath",
              linkedin: "https://www.linkedin.com/in/theakashnath"
            }
          },
          {
            name: "Harshita Seth",
            role: "Content and Development Team",
            image: "../../images/2022 Pics/IMG-20250418-WA0141 - Harshita Seth.jpg",
            socials: {
              facebook: "https://www.facebook.com/harshitaseth2003",
              instagram: "https://www.instagram.com/harshitaseth",
              linkedin: "https://www.linkedin.com/in/harshita-seth-74b280257"
            }
          },
          {
            name: "Sourav Kumar",
            role: "Technical Team",
            image: "../../images/2022 Pics/sourav kumar.jpeg",
            socials: {
              facebook: "#",
              instagram: "https://www.instagram.com/thesourav_kr",
              linkedin: "https://www.linkedin.com/in/sourav-kumar-2a271a256"
            }
          },
          {
            name: "Nidhishree Mahato",
            role: "Content and Development Team",
            image: "../../images/2022 Pics/IMG_20250417_182208 - Nidhishree Mahato.jpg",
            socials: {
              facebook: "#",
              instagram: "https://www.instagram.com/nidhishreeee",
              linkedin: "https://www.linkedin.com/in/nidhishree-mahato-9118a125a"
            }
          },
          {
            name: "Ravi Shankar Prasad",
            role: "Technical Team",
            image: "../../images/2022 Pics/IMG_20240528_174205_327 - 58_Ravi_2022.jpg",
            socials: {
              facebook: "https://www.facebook.com/ravishankar.prasad.946517",
              instagram: "https://www.instagram.com/ravi_shankar_pd.91",
              linkedin: "https://www.linkedin.com/in/ravi-shankar-prasad-bitsindri"
            }
          },
          {
            name: "Komal Kumari",
            role: "Content and Development Team",
            image: "../../images/2022 Pics/20240528_224230 - 36_Komal Kumari_2k22.jpg",
            socials: {
              facebook: "https://www.facebook.com/people/Komal-Kumari",
              instagram: "https://www.instagram.com/_komal_._8",
              linkedin: "https://www.linkedin.com/in/komalkri08"
            }
          },
          {
            name: "Aashi Rani",
            role: "Technical Team",
            image: "../../images/2022 Pics/IMG_20250203_122913 - Aashi rani.jpg",
            socials: {
              facebook: "https://www.facebook.com/people/Aashi-Rani",
              instagram: "https://www.instagram.com/iam_aashi148",
              linkedin: "https://www.linkedin.com/in/aashi-rani-a6824730a"
            }
          },
          {
            name: "Deepti Kumari",
            role: "Content and Development Team",
            image: "../../images/2022 Pics/IMG_20241215_064325638_HDR - 25_Deepti Kumari_2022.jpg",
            socials: {
              facebook: "https://www.facebook.com/people/Deepti-Kumari",
              instagram: "https://www.instagram.com/deepti_._p",
              linkedin: "https://www.linkedin.com/in/deepti-kumari-482049258"
            }
          },
          {
            name: "Harsh Giri",
            role: "Technical Team",
            image: "../../images/2022 Pics/IMG_20240825_120405 - 29_Harsh _2022.jpg",
            socials: {
              facebook: "#",
              instagram: "#",
              linkedin: "https://www.linkedin.com/in/harsh-giri-b84889211"
            }
          },
          {
            name: "Diksha",
            role: "Content and Development Team",
            image: "../../images/2022 Pics/IMG-20241115-WA0039 - 026_Diksha.jpg",
            socials: {
              facebook: "#",
              instagram: "https://www.instagram.com/vat_zd",
              linkedin: "http://www.linkedin.com/in/diksha-jha-32342628b"
            }
          },
          {
            name: "Manoj Murmu",
            role: "Technical Team",
            image: "../../images/2022 Pics/IMG20250405101747 - Manoj Murmu.jpg",
            socials: {
              facebook: "https://www.facebook.com/people/Manoj-Murmu",
              instagram: "https://www.instagram.com/murmu_072",
              linkedin: "https://www.linkedin.com/in/manoj-murmu"
            }
          },
          {
            name: "Dona Bhattacharjee",
            role: "Content and Development Team",
            image: "../../images/2022 Pics/20231208_181301 - 27_DonaBhattacharjee_2022.jpg",
            socials: {
              facebook: "https://www.facebook.com/people/Dona-Bhattacharjee",
              instagram: "https://www.instagram.com/donabhattacharjee5",
              linkedin: "https://www.linkedin.com/in/dona-bhattacharjee-a95b25273"
            }
          },
          {
            name: "Sahitya Kumar",
            role: "Technical Team",
            image: "../../images/2022 Pics/IMG_20241030_145328134_HDR - Sahitya Kumar.jpg",
            socials: {
              facebook: "https://www.facebook.com/people/Sahitya-Shrivastav",
              instagram: "https://www.instagram.com/sahitya.srivastav",
              linkedin: "https://www.linkedin.com/in/sahitya-kumar-897a27253"
            }
          },
          {
            name: "Sourav Omong",
            role: "Content and Development Team",
            image: "../../images/2022 Pics/Snapchat-375415028 - __Sourav Omong__.jpg",
            socials: {
              facebook: "https://www.facebook.com/danger.end.10",
              instagram: "https://www.instagram.com/__sourav57_",
              linkedin: "https://www.linkedin.com/in/sourav-omong-51655b257"
            }
          },
        ];

        const teamContainer = document.getElementById('third-team-container');

        teamMembers.forEach(member => {
          const card = document.createElement('div');
          card.className = 'third-card'; card.setAttribute('data-aos', 'fade-up');
          card.setAttribute('data-aos-duration', '1100');
          card.innerHTML = `
            <div class="third-card__border" >
              <div class="third-card__perfil">
                <img src="${member.image}" alt="card image" class="third-card__img">
              </div>
            </div>

            <h3 class="third-card__name">${member.name}</h3>
            <span class="third-card__profession">${member.role}</span>

            <div class="third-info">
              <div class="third-info__icon">
                <i class="ri-information-line"></i>
              </div>

              <div class="third-info__border">
                <div class="third-info__perfil">
                  <img src="${member.image}" alt="card image" class="third-info__img">
                </div>
              </div>

              <div class="third-info__data">
                <h3 class="third-info__name">${member.name}</h3>
                <span class="third-info__profession">${member.role}</span>
              </div>

              <div class="third-info__social">
                <a href="${member.socials.facebook}" target="_blank" class="third-info__social-link">
                  <span class="third-info__social-icon"><i class="ri-facebook-line"></i></span>
                </a>
                <a href="${member.socials.instagram}" target="_blank" class="third-info__social-link">
                  <span class="third-info__social-icon"><i class="ri-instagram-line"></i></span>
                </a>
                <a href="${member.socials.linkedin}" target="_blank" class="third-info__social-link">
                  <span class="third-info__social-icon"><i class="ri-linkedin-line"></i></span>
                </a>
              </div>
            </div>
          `;
          teamContainer.appendChild(card);
        });
      </script>
  </div>


</section>


<!-- This is the footer section -->


<footer>
  <div class="footer-container">
    <div class="head-title">
      <h2>Quimica</h2>
      <p>The Annual Technical Colloquium</p>
      <ul class="social-icons">
        <li><a href="https://www.facebook.com/quimicabits"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="https://www.instagram.com/quimicabits_blog/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href="https://www.youtube.com/@quimicabits8163"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
      </ul>
    </div>
    <div class="sec quicklinks">
      <h2>Quick Links</h2>
      <ul>
        <li><a href="../about/about.html">About</a></li>
        <li><a href="#">Blogs</a></li>
        <li><a href="../events/event.html">Events & Workshop</a></li>
        <li><a href="../contact/contact.html">Contact</a></li>
      </ul>
    </div>
    <div class="sec contact-details">
      <h2>Get In Touch</h2>
      <ul class="info">
        <li>
          <span>B.I.T Sindri<br>828123, Dhanbad<br>Jharkhand</span>
        </li>
        <li>
          <p><a href="tel:+917903607014">+91 7903607014</a> /
             <a href="tel:+919199999709">+91 9199999709</a></p>
        </li>
        <li>
          <h3><a href="mailto:quimicabits@gmail.com">quimicabits@gmail.com</a></h3>
        </li>
      </ul>
    </div>
  </div>
</footer>
<div class="copyrighttext">
  <p>Copyright © 2025 All rights reserved | Quimica - Chemical Engineering Society</p>
  <p>Design and Developed by : Abhay Anand</p>
</div>
</main>

<script src="../../Script/script.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
    AOS.init();
    </script>
<script src="../../Script/content.js"></script>    
<script src="../../Script/team.js"></script>  
<script type="text/javascript" src="../../Script/smooth-scroll.js"></script>
<script type="text/javascript" src="../../Script/preloader.js"></script>
<script src="../../Script/menu.js"></script>  
</body>
</html>