@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.first-part{
    width: 100%;
    height: 100vh;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
}

/* ============PRELOADER=============== */

#preloader{
  background: #fff url(../images/Ripple\ loader.gif) no-repeat center center;
  background-size: 10%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}


.main-nav-parent{
    width: 100%;
    padding: 1rem 1.5rem;
}

nav {
    left: 0px;
    top: 9px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 40px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(255, 135, 25, 0.2);
    border-radius: 45px;
    flex-wrap: wrap;
}
nav .logo{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 0.5rem;
  font-weight: bold;
}
nav .logo a{
  text-decoration: none;
  color: #000;
}
nav .logo span{
  font-size: 1.5rem;
  color: rgb(255, 68, 0);
}
nav .logo img{
  width: 30px;
  height: 48px;
  margin-right: 12px;
}
nav .list{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
nav .list li{
  margin: 0 30px;
}
nav .list li a{
  color: #000;
  text-decoration: none;
  font-size: 1rem;
  line-height: 15.6px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.3s ease ;
}
nav .list li a.active,
nav .list li a:hover{
  color: rgb(255, 68, 0);
}
nav .menu-btn i{
  color: #000;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}

@media (max-width: 1000px){
    nav{
      padding: 10px 40px 10px 50px;
    }
  }
  
  @media (max-width: 960px){
    nav .menu-btn i{
      display: block;
    }
    .main-nav-parent{
      width: 100%;
      padding: 0;
  }
  nav{
    border-radius: 0;
  }
    #click:checked ~ .menu-btn i::before{
      content: '\f00d';
    }
    nav ul{
      position: fixed;
      top: 60px;
      left: -100%;
      background: #fff;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      transition: all 0.3s ease;
    }
    #click:checked ~ ul{
      left: 0px;
    }
    nav ul li{
      width: 100%;
      margin: 30px 0;
    }
    nav ul li a{
      width: 100%;
      margin-left: -100%;
      display: flex;
      flex-direction: column;
      font-size: 1.2rem;
      transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
      margin-left: 0px;
    }
  }



.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}
.context h1{
    text-align: center;
    color: #fff;
    font-size: 5rem;
}

.cursor{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    --size: 40px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    border: 1.3px solid #FF5C00;
    margin: calc(var(--size) * -0.5) 0 0 calc(var(--size)* -0.5);
    transition: transform 0.85s cubic-bezier(0,0.02,0,1);
    display: none;
    pointer-events: none;
  }
  
  @media (pointer: fine){
    .cursor{
      display: block;
    }
    .cursor2{
      --size:2px;
      transition-duration: 0.7s;
    }
  }

  .second-part{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    background: #f2f2f4;
    padding: 2rem 4rem 2rem 4rem;
    flex-direction: column;
    overflow: hidden;
    border-bottom: 1.5px solid #bdbdbd;
  }
  .second-part .head{
    font-size: 3rem;
    color: #e66e29;
    width: 100%;
  }
  .second-part .content{
    width: 1280px;
    max-width: 95%;
    margin: 60px auto 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  .second-part .content img{
    height: auto;
    width: 500px;
    max-width: 100%;
    border-radius: 10px;
  }
  .event-text{
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
  }
  .event-text p{
    color: #000;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 45px;
  }
  .content button{
    background-color: rgb(255, 68, 0);
    color: #ffffff;
    border: 2px solid transparent;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 17px;
    font-weight: bold;
    transition: 0.5s ease-in-out;
    box-shadow: 0px 4px 10px 1px rgba(255, 135, 25, 0.57);
  }
  .content button:hover{
    transform: scale(1.2);
    background-color: transparent;
    border: 2px solid rgb(255, 68, 0);
    color: rgb(255, 68, 0);
    transition: 0.4s;
    cursor: pointer;
  }
  @media screen and(max-width: 650px) {
    .second-part .content img{
      margin-bottom: 35px;
    }
    .event-text h1{
      font-size: 60px;
      margin-bottom: 25px;
    }
  }
  @media screen and(max-width: 700px){
    .second-part .content img:hover{
      transform: none;
    }
  }

  .second{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    background: #f2f2f4;
    padding: 2rem 4rem 2rem 4rem;
    flex-direction: column;
    overflow: hidden;
    border-bottom: 1.5px solid #bdbdbd;
  }
  .second .heading{
    font-size: 2.4rem;
    color: #000;
    width: 100%;
  }
  .second .heading .line{
    width: 280px;
    border-bottom: 3px solid #FF5C00;
  }
  .second .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 50px;
    padding: 10px;
   }
   .second .container .card{
    width: 400px;
    height: 400px;
    margin: 60px auto 0;
    border-radius: 15px;
    background: transparent;
    perspective: 900px;
    cursor: pointer;
   }
   .second .container .card .card-inner{
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
   }
   .second .container .card .card-inner .front, 
   .second .container .card .card-inner .back{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: absolute;
    backface-visibility: hidden;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.15);
   }
   .second .container .card .card-inner #first{
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.15)) , url(../../images/Poster\ Presentation.jpg);
    background-size: cover;
    background-position: center center;
   }
   .second .container .card .card-inner #second{
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.15)) , url(../../images/Webinar.jpeg);
    background-size: cover;
    background-position: center center;
   }
   .second .container .card .card-inner #third{
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.15)) , url(../../images/Quiz\ Competition.jpg);
    background-size: cover;
    background-position: center center;
   }
   .second .container .card .card-inner #fourth{
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.15)) , url(../../images/Seminar\ Ravi.jpg);
    background-size: cover;
    background-position: center center;
   }
   .second .container .card .card-inner #fifth{
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.15)) , url(../../images/Conference.jpg);
    background-size: cover;
    background-position: center center;
   }
   .second .container .card .card-inner #sixth{
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.15)) , url(../../images/Final\ Round.jpeg);
    background-size: cover;
    background-position: center center;
   }
   .second .container .card .card-inner .back{
    background: #fff;
    color: #000;
    padding: 20px 40px;
    overflow: hidden;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .second .container .card .card-inner .back img {
    width: 80px;
   }
   .second .container .card .card-inner .back h1{
    font-size: 30px;
    margin-bottom: 15px;
    border-bottom: 2px solid #FF5C00;
    margin-top: 20px;
    text-align: center;
   }
   .second .container .card .card-inner .back h1 span{
    font-weight: 400;
   }
   .second .container .card .card-inner .back p{
    text-align: center;
   }
   .second .container .card:hover .card-inner{
     transform: rotateY(180deg);
   }


   .eventsecond{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    background: #f2f2f4;
    padding: 2rem 4rem 5rem 4rem;
    flex-direction: column;
    overflow: hidden;
    border-bottom: 1.5px solid #bdbdbd;
  }
  .eventsecond .heading{
    font-size: 2.4rem;
    color: #000;
    width: 100%;
  }
  .eventsecond .heading .line{
    width: 200px;
    border-bottom: 3px solid #FF5C00;
  }
  .eventsecond .event_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 50px;
    padding: 10px;
   }
.eventsecond .event_container .event_card{
    width: 400px;
    height: 400px;
    margin: 60px auto 0;
    border-radius: 15px;
    background: transparent;
    perspective: 900px;
    cursor: pointer;
}   
.eventsecond .event_container .event_card .event_card-inner{
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}
.eventsecond .event_container .event_card .event_card-inner .event_front, 
.eventsecond .event_container .event_card .event_card-inner .event_back{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: absolute;
    backface-visibility: hidden;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.15);
}
.eventsecond .event_container .event_card .event_card-inner #first{
  background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.15)) , url(../../images/tech\ kriti\ cover\ page.jpeg);
    background-size: cover;
    background-position: center center;
}
.eventsecond .event_container .event_card .event_card-inner #second{
  background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.15)) , url(../../images/Shaastra.jpg);
    background-size: cover;
    background-position: center center;
}
.eventsecond .event_container .event_card .event_card-inner #third{
  background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.15)) , url(../../images/Advaita.jpg);
    background-size: cover;
    background-position: center center;
}
.eventsecond .event_container .event_card .event_card-inner #fourth{
  background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.15)) , url(../../images/Scintilla\ cover\ page.jpeg);
    background-size: cover;
    background-position: center center;
}
.eventsecond .event_container .event_card .event_card-inner #fifth{
  background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.15)) , url(../../images/Mesaventures.jpg);
    background-size: cover;
    background-position: center center;
}
.eventsecond .event_container .event_card .event_card-inner #sixth{
  background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.15)) , url(../../images/Interaction\ Session.jpg);
    background-size: cover;
    background-position: center center;
}
.eventsecond .event_container .event_card .event_card-inner #seventh{
  background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.15)) , url(../../images/Seminar\ Mitacs.jpg);
    background-size: cover;
    background-position: center center;
}
.eventsecond .event_container .event_card .event_card-inner #eighth{
  background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.15)) , url(../../images/Webinar\ Gate.jpg);
    background-size: cover;
    background-position: center center;
}
.eventsecond .event_container .event_card .event_card-inner #nineth{
  background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.15)) , url(../../images/Placement\ Workshop.jpg);
    background-size: cover;
    background-position: center center;
}
.eventsecond .event_container .event_card .event_card-inner .event_back{
  background: #fff;
    color: #000;
    padding: 20px 40px;
    overflow: hidden;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.eventsecond .event_container .event_card .event_card-inner .event_back img{
  width: 80px;
}
.eventsecond .event_container .event_card .event_card-inner .event_back h1{
  font-size: 30px;
    margin-bottom: 15px;
    border-bottom: 2px solid #FF5C00;
    margin-top: 20px;
    text-align: center;
}
.eventsecond .event_container .event_card .event_card-inner .event_back h1 span{
  font-weight: 400;
}
.eventsecond .event_container .event_card .event_card-inner .event_back p{
  text-align: center;
}
.eventsecond .event_container .event_card:hover .event_card-inner{
  transform: rotateY(180deg);
}

/* -----------------Footer Section------------------ */

footer{
  position: relative;
  background: #f9f1f1;
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-container{
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
footer .footer-container .sec .head-title{
  margin-right: 30px;
}
footer .footer-container .sec .head-title{
  width: 40%;
  position: relative;
}
.footer-container .head-title h2{
  position: relative;
  font-size: 50px;
  color: #000;
  font-weight: 500;
  margin-bottom: 15px;
}
.footer-container .head-title h2::before{
  content: ' ';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 80px;
  height: 3px;
  background: rgb(255, 68, 0);
}
footer .head-title p{
  color: #000;
  font-size: 25px;
}
.social-icons{
  margin-top: 70px;
  display: flex;
}
.social-icons li{
  list-style: none;
}
.social-icons li a{
  color: #000;
  text-decoration: none;
  display: inline-block;
  width: 60px;
  font-size: 28px;
  height: 60px;
  background: transparent;
  border: 2px solid #222;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  transition: 0.5s ease-in-out;
}
.social-icons li a:hover{
  background: rgb(255, 68, 0);
  color: #fff;
  border-color: transparent;
  transform: scale(1.1);
}
.footer-container .sec{
  margin-right: 30px;
  margin-top: 100px;
}
.quicklinks{
  position: relative;
  width: 25%;
}
.footer-container .sec h2{
  position: relative;
  color: #000;
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 15px;
}
.footer-container .sec h2::before{
  content: ' ';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 3px;
  background: rgb(255, 68, 0);
}
.quicklinks ul li{
  list-style: none;
}
.quicklinks ul li a{
  color: #000;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 23px;
  display: inline-block;
}
.quicklinks ul li a:hover{
  color: rgb(255, 68, 0);
}
.contact-details{
  width: calc(35% - 60px);
  margin-right: 0 !important;
}
.contact-details .info{
  position: relative;
}
.contact-details .info li{
  display: flex;
  margin-bottom: 16px;
}
.contact-details .info li span{
  color: #000;
  font-size: 23px;
}
.contact-details .info li h3{
  color: #000;
  font-size: 26px;
  font-weight: 400;
}
.contact-details .info li p{
  font-size: 23px;
}
.contact-details .info li a{
  text-decoration: none;
  color: #000;
}
.contact-details .info li a:hover{
  color: rgb(255, 68, 0);
}
.copyrighttext{
  width: 100%;
  background-color: #f9f1f1;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  color: #222;
}
.copyrighttext p{
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .copyrighttext p{
    margin-top: 20px;
    flex-direction: column;
  }
}

@media screen and (max-width: 991px) {
  footer{
    padding: 40px;
  }
  .footer-container {
    flex-direction: column;
  }
  footer .footer-container .sec{
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 40px;
  }
  .footer-container .sec,.head-title{
    width: 100%;
    position: relative;
  }
}
@media screen and (max-width: 756px) {
   .copyrighttext{
    width: 100%;
    padding: 20px 40px;
    text-align: center;
   }
}