<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quimica | Contact Us</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./contact.css">
    <link rel="shortcut icon" type="image/png" href="../../images/Quimica_icon (1) black.png">
</head>
<body>
  
  <div id="preloader"></div>

    <section class="firstpart">
        <div class="main-nav-parent">
            <nav>
                <div class="logo">
                  <a href="../../index.html"><img src="../../images/Quimica_icon (1) black.png" alt="Quimica Logo"></a>
                  <!-- <a href="index.html"><span>Q</span>UIMICA</a> -->
                </div>
                
                <input type="checkbox" id="click">
                <label for="click" class="menu-btn">
                  <i class="fa fa-bars" aria-hidden="true"></i>
                </label>
            
                <ul class="list">
                  <li><a href="../../index.html">Home</a></li>
                  <li><a href="../about/about.html">About</a></li>
                  <li><a href="../events/event.html">Events</a></li>
                  <li><a href="https://www.quimicabits.blogspot.com/">Blogs</a></li>
                  <li><a href="../team/team.html">Members</a></li>
                  <li><a href="./contact.html" class="active">Contact</a></li>
                </ul>
              </nav>
            </div>
            <div class="context" data-aos="fade-up" data-aos-duration="1100">
                <h1>Quimica - Contact Us</h1>
            </div>

            <div class="cursor"></div>
            <div class="cursor cursor2"></div>
    </section>

    <section class="contact">
        <div class="container">
            <div class="left">
              <div class="form-wrapper">
                <div class="contact-heading" data-aos="fade-right" data-aos-duration="1100">
                    <h1>For any query contact<span>:</span></h1>
                    <p class="text">Or reach us via : 
                        <a href="mailto:quimicabits@gmail.com">quimicabits@gmail.com</a></p>
                </div>

                <form action="./contact.html" method="post" class="contact-form" data-aos="fade-up" data-aos-duration="1100">

                    <div class="input-wrap">
                        <input type="text" autocomplete="off" name="First Name" 
                        class="contact-input" required>
                        <label>First Name</label>
                        <i class="icon fa fa-address-card"></i>
                    </div>

                    <div class="input-wrap">
                        <input type="text" autocomplete="off" name="Last Name" 
                        class="contact-input" required>
                        <label>Last Name</label>
                        <i class="icon fa fa-address-card"></i>
                    </div>

                    <div class="input-wrap w-100">
                        <input type="email" autocomplete="off" name="Email" 
                        class="contact-input" required>
                        <label>Email</label>
                        <i class="icon fa fa-envelope"></i>
                    </div>
                    
                    <div class="input-wrap textarea w-100">
                        <textarea name="Message" autocomplete="off" 
                        class="contact-input" required></textarea>
                        <label>Message</label>
                        <i class="icon fa fa-inbox"></i>
                    </div>

                    <div class="contact-buttons w-100">
                        <input type="submit" value="Send Message" class="btn">
                    </div>

                </form>
              </div>
            </div>
            <div class="right">
              <div class="image-wrapper">
                <img src="../../images/Department.jpg" alt="contact-image" class="img">
                <div class="wave-wrap">
                    <svg class="wave" viewBox="0 0 783 1536" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path id="wave" d="M236.705 1356.18C200.542 1483.72 64.5004 1528.54 1 1535V1H770.538C793.858 63.1213 797.23 196.197 624.165 231.531C407.833 275.698 274.374 331.715 450.884 568.709C627.393 805.704 510.079 815.399 347.561 939.282C185.043 1063.17 281.908 1196.74 236.705 1356.18Z"/>
                        </svg>
                  </div>
                  <svg class="dashed-wave" viewBox="0 0 345 877" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path id="dashed-wave" d="M0.5 876C25.6667 836.167 73.2 739.8 62 673C48 589.5 35.5 499.5 125.5 462C215.5 424.5 150 365 87 333.5C24 302 44 237.5 125.5 213.5C207 189.5 307 138.5 246 87C185 35.5 297 1 344.5 1"/>
                    </svg>
              </div>
            </div>
        </div>
    </section>

    <footer>
      <div class="footer-container">
        <div class="head-title" data-aos="fade-up" data-aos-duration="1100">
          <h2>Quimica</h2>
          <p>The Annual Technical Colloquium</p>
          <ul class="social-icons">
            <li><a href="https://www.facebook.com/quimicabits"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="https://www.instagram.com/quimicabits_blog/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="https://www.youtube.com/@quimicabits8163"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
          </ul>
        </div>
        <div class="sec quicklinks" data-aos="fade-up" data-aos-duration="1100">
          <h2>Quick Links</h2>
          <ul>
            <li><a href="../about/about.html">About</a></li>
            <li><a href="#">Blogs</a></li>
            <li><a href="../events/event.html">Events & Workshop</a></li>
            <li><a href="../contact/contact.html">Contact</a></li>
          </ul>
        </div>
        <div class="sec contact-details" data-aos="fade-up" data-aos-duration="1100">
          <h2>Get In Touch</h2>
          <ul class="info">
            <li>
              <span>B.I.T Sindri<br>828123, Dhanbad<br>Jharkhand</span>
            </li>
            <li>
              <p><a href="tel:+917903607014">+91 7903607014</a> /
                 <a href="tel:+919199999709">+91 9199999709</a></p>
            </li>
            <li>
              <h3><a href="mailto:quimicabits@gmail.com">quimicabits@gmail.com</a></h3>
            </li>
          </ul>
        </div>
      </div>
    </footer>
    <div class="copyrighttext">
      <p>Copyright © 2023 All rights reserved | Quimica - Chemical Engineering Society</p>
      <p>Design and Developed by : Abhay Anand</p>
    </div>

    <script src="../../Script/script.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
    AOS.init();
    </script>
    <script src="../../Script/form.js"></script>
    <script type="text/javascript" src="../../Script/smooth-scroll.js"></script>
    <script type="text/javascript" src="../../Script/preloader.js"></script>

</body>
</html>