@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.firstpart{
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #000,#220033); 
}

/* ============PRELOADER=============== */

#preloader{
  background: #fff url(../images/Ripple\ loader.gif) no-repeat center center;
  background-size: 10%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.main-nav-parent{
    width: 100%;
    padding: 1rem 1.5rem;
}

nav {
    left: 0px;
    top: 9px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 40px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(255, 135, 25, 0.2);
    border-radius: 45px;
    flex-wrap: wrap;
}
nav .logo{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 0.5rem;
  font-weight: bold;
}
nav .logo a{
  text-decoration: none;
  color: #000;
}
nav .logo span{
  font-size: 1.5rem;
  color: rgb(255, 68, 0);
}
nav .logo img{
  width: 30px;
  height: 48px;
  margin-right: 12px;
}
nav .list{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
nav .list li{
  margin: 0 30px;
}
nav .list li a{
  color: #000;
  text-decoration: none;
  font-size: 1rem;
  line-height: 15.6px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.3s ease ;
}
nav .list li a.active,
nav .list li a:hover{
  color: rgb(255, 68, 0);
}
nav .menu-btn i{
  color: #000;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}

@media (max-width: 1000px){
    nav{
      padding: 10px 40px 10px 50px;
    }
  }
  
  @media (max-width: 960px){
    nav .menu-btn i{
      display: block;
    }
    .main-nav-parent{
      width: 100%;
      padding: 0;
  }
  nav{
    border-radius: 0;
  }
    #click:checked ~ .menu-btn i::before{
      content: '\f00d';
    }
    nav ul{
      position: fixed;
      top: 60px;
      left: -100%;
      background: #fff;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      transition: all 0.3s ease;
    }
    #click:checked ~ ul{
      left: 0px;
    }
    nav ul li{
      width: 100%;
      margin: 30px 0;
    }
    nav ul li a{
      width: 100%;
      margin-left: -100%;
      display: flex;
      flex-direction: column;
      font-size: 1.2rem;
      transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
      margin-left: 0px;
    }
  }



.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}
.context h1{
    text-align: center;
    color: #fff;
    font-size: 5rem;
}

.cursor{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    --size: 40px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    border: 1.3px solid #FF5C00;
    margin: calc(var(--size) * -0.5) 0 0 calc(var(--size)* -0.5);
    transition: transform 0.85s cubic-bezier(0,0.02,0,1);
    display: none;
    pointer-events: none;
  }
  
  @media (pointer: fine){
    .cursor{
      display: block;
    }
    .cursor2{
      --size:2px;
      transition-duration: 0.7s;
    }
  }

  .secondpart{
    width: 100%;
    height: auto;
    background: #fff;
    padding: 5rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .toppart{
    display: flex;
    align-items: start;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .toppart img{
    width: 100%;
    /* padding: 10px; */
    height: auto;
    border: 2px solid transparent;
    transition: 0.3s ease-in-out;
  }
  /* .toppart img:hover{
    border: 2px solid #FF5C00;
  } */

  .toppart h1{
    font-size: 4rem;
    color: #000;
    margin-bottom: 30px;
    border-bottom: 2.8px solid #FF5C00;
  }
  .toppart p{
    margin-top: 30px;
    font-size: 1.1rem;

  }
.rightpart{
    display: flex;
    align-items: start;
    flex-direction: column;
    max-width: 70%;
    flex-wrap: wrap;
    margin-top: 30px;
}
.rightpart h1{
    font-size: 3.5rem;
    color: #000;
    margin-bottom: 30px;
    border-bottom: 2.8px solid #FF5C00;
}
.rightpart p{
    font-size: 1.1rem;
}
.leftpart{
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 30px;
}
.leftpart h1{
    font-size: 3.5rem;
    color: #000;
    margin-bottom: 30px;
    border-bottom: 2.8px solid #FF5C00;
}
.leftpart p{
    font-size: 1.1rem;
}

.thirdpart{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2; 
  overflow: hidden;
}

.thirdpart .container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.thirdpart .container .card{
  width: 330px;
  height: 416px;
  padding: 60px 30px;
  margin: 60px;
  background: #f2f2f2;
  box-shadow: 0 30px 45px #d2dce9;
  border-radius: 20px;     
  border: 2px solid #fff;  
  transition: 0.2s ease-in-out;     
}
.thirdpart .container .card:hover{
  box-shadow: 0 15px 35px #f68645;  
}
.thirdpart .container .card .content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.thirdpart .container .card .content .imgbx{
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 2px solid #FF5C00;
  position: relative;
  margin-bottom: 10px;
  overflow: hidden;
}
.thirdpart .container .card .content .imgbx img{
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.thirdpart .container .card .content .contentBox h3{
  color: #FF5C00;
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}
.thirdpart .container .card .content .contentBox h4{
  color: #000;
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
}

@media (max-width: 1000px){
  nav{
    padding: 10px 40px 10px 50px;
  }
}

/* -----------------Footer Section------------------ */

footer{
  position: relative;
  background: #f9f1f1;
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-container{
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
footer .footer-container .sec .head-title{
  margin-right: 30px;
}
footer .footer-container .sec .head-title{
  width: 40%;
  position: relative;
}
.footer-container .head-title h2{
  position: relative;
  font-size: 50px;
  color: #000;
  font-weight: 500;
  margin-bottom: 15px;
}
.footer-container .head-title h2::before{
  content: ' ';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 80px;
  height: 3px;
  background: rgb(255, 68, 0);
}
footer .head-title p{
  color: #000;
  font-size: 25px;
}
.social-icons{
  margin-top: 70px;
  display: flex;
}
.social-icons li{
  list-style: none;
}
.social-icons li a{
  color: #000;
  text-decoration: none;
  display: inline-block;
  width: 60px;
  font-size: 28px;
  height: 60px;
  background: transparent;
  border: 2px solid #222;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  transition: 0.5s ease-in-out;
}
.social-icons li a:hover{
  background: rgb(255, 68, 0);
  color: #fff;
  border-color: transparent;
  transform: scale(1.1);
}
.footer-container .sec{
  margin-right: 30px;
  margin-top: 100px;
}
.quicklinks{
  position: relative;
  width: 25%;
}
.footer-container .sec h2{
  position: relative;
  color: #000;
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 15px;
}
.footer-container .sec h2::before{
  content: ' ';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 3px;
  background: rgb(255, 68, 0);
}
.quicklinks ul li{
  list-style: none;
}
.quicklinks ul li a{
  color: #000;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 23px;
  display: inline-block;
}
.quicklinks ul li a:hover{
  color: rgb(255, 68, 0);
}
.contact-details{
  width: calc(35% - 60px);
  margin-right: 0 !important;
}
.contact-details .info{
  position: relative;
}
.contact-details .info li{
  display: flex;
  margin-bottom: 16px;
}
.contact-details .info li span{
  color: #000;
  font-size: 23px;
}
.contact-details .info li h3{
  color: #000;
  font-size: 26px;
  font-weight: 400;
}
.contact-details .info li p{
  font-size: 23px;
}
.contact-details .info li a{
  text-decoration: none;
  color: #000;
}
.contact-details .info li a:hover{
  color: rgb(255, 68, 0);
}
.copyrighttext{
  width: 100%;
  background-color: #f9f1f1;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  color: #222;
}
.copyrighttext p{
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .copyrighttext p{
    margin-top: 20px;
    flex-direction: column;
  }
}

@media screen and (max-width: 991px) {
  footer{
    padding: 40px;
  }
  .footer-container {
    flex-direction: column;
  }
  footer .footer-container .sec{
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 40px;
  }
  .footer-container .sec,.head-title{
    width: 100%;
    position: relative;
  }
}
@media screen and (max-width: 756px) {
   .copyrighttext{
    width: 100%;
    padding: 20px 40px;
    text-align: center;
   }
}