<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./about.css">
    <link rel="shortcut icon" type="image/png" href="../../images/Quimica_icon (1) black.png">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Quimica | About Us</title>
</head>

<style>
  #preloader {
  position: fixed;
  inset: 0;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: opacity 0.4s ease;
}

.preloader-logo {
  width: 250px;
  height: auto;
  animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
}

</style>

<body>

  <div id="preloader">
    <img src="../../images/output-onlinegiftools.gif" alt="...Loading" class="preloader-logo" />
  </div>

  <script>
    window.addEventListener("load", function () {
      const preloader = document.getElementById("preloader");
      preloader.style.opacity = "0";
      setTimeout(() => {
        preloader.style.display = "none";
      }, 500);
    });
  </script>

    <header>
      <div class="main-nav-parent" id="header">
        <nav>
            <div class="logo">
              <a href="../../index.html"><img src="../../images/Quimica_icon (1) black.png" alt="Quimica Logo"></a>
              <!-- <a href="index.html"><span>Q</span>UIMICA</a> -->
            </div>
            
            <input type="checkbox" id="click">
            <label for="click" class="menu-btn">
              <i class="fa fa-bars" aria-hidden="true"></i>
            </label>
        
            <ul class="list">
              <li><a href="../../index.html">Home</a></li>
              <li><a href="./about.html"  class="active">About</a></li>
              <li><a href="../events/event.html">Events</a></li>
              <li><a href="https://www.quimicabits.blogspot.com/">Blogs</a></li>
              <li><a href="../team/team.html">Members</a></li>
              <li><a href="../contact/contact.html">Contact</a></li>
            </ul>
          </nav>
        </div>
    </header>
    <main class="l-main">
    <section class="firstpart">
            
                <div class="context" data-aos="fade-up" data-aos-duration="1100">
                    <h1>Quimica - About Us</h1>
                </div>

                <div class="cursor"></div>
                <div class="cursor cursor2"></div>
    </section>

    <section class="secondpart">
      <div class="toppart">
        <h1 data-aos="fade-right" data-aos-duration="1100">About Department</h1>
        <img src="../../images/Department.jpg" alt="Chemical Engineering Department" data-aos="fade-up" data-aos-duration="1100">
        <p data-aos="fade-right" data-aos-duration="1100">The Department of Chemical Engineering, established in
          1956, is one of the oldest disciplines at BIT Sindri. It is
          considered as a premier center for Chemical Engineering in
          India by industries as well as academia. The department
          offers four-year B. Tech. degree course and postgraduate
          program of M. Tech. with a specialization in Chemical Plant
          Design in Engineering. It has experienced and qualified
          faculties, associated with numerous industrial projects to
          promote research and development. The department has
          several well-equipped laboratories such as Unit Operations
          Lab, Process Control Lab, Petroleum Refinery Engineering
          Lab, Plastic Technology Lab, Process Engineering Lab,
          Chemical Engineering Thermodynamics Lab etc. With
          talented and well-placed students, Department of
          Chemical Engineering holds a good association of its
          alumni all over the world.</p>
      </div>
       <div class="rightpart" data-aos="fade-right" data-aos-duration="1100">
        <h1>Our Vision</h1>
        <p>To create the environment in the department of Chemical Engineering for all round development of Chemical Engineering students so that they can compete in the global market.</p>
       </div>
       <div class="leftpart" data-aos="fade-right" data-aos-duration="1100">
        <h1>Our Mission</h1>
        <p>1. To impart quality technical education to UG and PG
            courses in Chemical Engineering.<br>
            2. To activate and pursue research in thrust/emerging
            areas of technology in Chemical Engineering.<br>
            3. To provide consultancy services to Industries and
            entrepreneurs.<br>
            4. To create qualified human resources to cater the
            needs of a sound national economy through
            developmental activities.<br>
            5. To make the department a center of excellence for
            research and development in Chemical Engineering
            and related fields.
            </p>
       </div>
    </section>

    <section class="thirdpart">

      <div class="container" id="faculty-cards-container">

        <script>
          const facultyData = [
            {
              name: "Prof. Pankaj Rai",
              role: "Patron",
              image: "../../images/Professor Pics/bit-director.jpg",
              alt: "patron"
            },
            {
              name: "Dr. Ashok Kr. Baranwal",
              role: "Professor In-charge",
              image: "../../images/Professor Pics/Ashok Sir.jpg",
              alt: "professor in-charge"
            },
            {
              name: "Dr. Nirupama",
              role: "Professor In-charge",
              image: "../../images/Professor Pics/Nirupama ma'am (1).jpg",
              alt: "professor in-charge"
            }
          ];

          const container = document.getElementById("faculty-cards-container");

          facultyData.forEach((faculty) => {
            const card = document.createElement("div");
            card.className = "card";
            card.setAttribute("data-aos", "flip-up");
            card.setAttribute("data-aos-duration", "1100");

            card.innerHTML = `
              <div class="content">
                <div class="imgbx">
                  <img src="${faculty.image}" alt="${faculty.alt}">
                </div>
                <div class="contentBox">
                  <h3>${faculty.name}</h3>
                  <h4>${faculty.role}</h4>
                </div>
              </div>
            `;

            container.appendChild(card);
          });

        </script>
      </div>

    </section>


    <footer>
      <div class="footer-container">
        <div class="head-title" data-aos="fade-up" data-aos-duration="1100">
          <h2>Quimica</h2>
          <p>The Annual Technical Colloquium</p>
          <ul class="social-icons">
            <li><a href="https://www.facebook.com/quimicabits"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="https://www.instagram.com/quimicabits_blog/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="https://www.youtube.com/@quimicabits8163"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
          </ul>
        </div>
        <div class="sec quicklinks" data-aos="fade-up" data-aos-duration="1100">
          <h2>Quick Links</h2>
          <ul>
            <li><a href="./about.html">About</a></li>
            <li><a href="#">Blogs</a></li>
            <li><a href="../events/event.html">Events & Workshop</a></li>
            <li><a href="../contact/contact.html">Contact</a></li>
          </ul>
        </div>
        <div class="sec contact-details" data-aos="fade-up" data-aos-duration="1100">
          <h2>Get In Touch</h2>
          <ul class="info">
            <li>
              <span>B.I.T Sindri<br>828123, Dhanbad<br>Jharkhand</span>
            </li>
            <li>
              <p><a href="tel:+917903607014">+91 7903607014</a> /
                 <a href="tel:+919199999709">+91 9199999709</a></p>
            </li>
            <li>
              <h3><a href="mailto:quimicabits@gmail.com">quimicabits@gmail.com</a></h3>
            </li>
          </ul>
        </div>
      </div>

    </footer>
    
    <div class="copyrighttext">
      <p>Copyright © 2025 All rights reserved | Quimica - Chemical Engineering Society</p>
      <p>Design and Developed by : Abhay Anand</p>
    </div>
  </main>

    <script src="../../Script/script.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
    AOS.init();
    </script>
 <script type="text/javascript" src="../../Script/smooth-scroll.js"></script>
 <script type="text/javascript" src="../../Script/preloader.js"></script>
 <script src="../../Script/menu.js"></script>
</body>

</html>